body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif; }

main {
  flex: 1;
  margin: 0 2em;
  line-height: 1.6em; }

header {
  margin: 0;
  padding: 0 2em;
  border-top: 16px solid #7E78C5;
  border-bottom: 4px solid #3F18A8; }
  header h1 {
    float: left; }
  header p {
    float: right;
    padding-top: 2em; }

form label {
  font-weight: bold;
  margin-left: 2em; }

form .label-box {
  margin-bottom: 0.5em;
  font-size: 1em; }

form input {
  margin-left: 2em;
  width: 50%;
  font-size: 1em;
  padding: 0.75em; }

form #item {
  margin-bottom: 1.5em; }

form button {
  color: #ddd;
  margin-left: 2em;
  background-color: #523F79;
  border: 2px solid #3F18A8;
  padding: 0.6em 2em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 2em;
  letter-spacing: 0.25em; }
  form button:hover {
    background-color: #9186CD; }

form #error {
  color: red; }

#total-box .update-labels {
  padding-left: 2em;
  font-weight: bold; }

#total-box small {
  padding-left: 2.4em; }

section {
  flex: 1;
  margin-top: 1em;
  padding: 2em;
  line-height: 1.6em; }
  section .cart {
    table-layout: fixed;
    width: 40%;
    white-space: nowrap; }
    section .cart th {
      border-bottom: 1px solid #73CFF0;
      background-color: #73CFF0; }
    section .cart .row-item {
      width: 60%; }
    section .cart .row-price {
      width: 40%; }
  section .cart td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
  section #reset-button {
    color: #ddd;
    margin-left: 2em;
    padding: 0.6em 2.5em;
    font-size: 1em;
    background-color: #523F79;
    border: 2px solid #3F18A8;
    font-weight: bold;
    margin-top: 2em;
    letter-spacing: 0.25em;
    float: right; }
    section #reset-button:hover {
      background-color: #9186CD; }

footer {
  background-color: #D5E5F2;
  margin: 0; }
  footer p {
    padding-left: 2em;
    font-size: 1em;
    line-height: 1.6em;
    color: #555; }
    footer p a {
      color: #212B57;
      text-decoration: none; }
      footer p a:hover {
        color: #5EA4BF; }
